@import "./style.scss";

// Page Default
.page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

// Profile
.profile {
    .info {
        width: 100%;
        padding: 20px;
        background: lighten($color: $secondary, $amount: 2);
        border-bottom: $border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 200px;
        .left {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
        }
        .right {
            width: 100%;
            padding-left: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            #username {
                margin-right: 20px;
            }
            section {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                &.center {
                    justify-content: space-around;
                    a {
                        color: $text;
                        .data {
                            margin-right: 3px;
                            color: $text;
                        }
                    }
                }
            }
        }
    }
    h1 {
        margin: 10px;
        border-bottom: $border-bold;
    }
    #posts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: col; // row
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 50px;
        img {
            width: 90%;
        }
        .post {
            border: $border;
            width: calc(33vw - 1px);
            height: calc(33vw - 1px);
            margin: 1px;
            cursor: pointer;
            overflow: hidden;
            word-wrap: break-word;
            .imgContainer {
                width: 100%;
                height: 100%;
                margin-bottom: 15px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                &:hover img {
                    scale: 1.2;
                    rotate: 10deg;
                }
                img {
                    width: 100%;
                    height: 100%;
                    transition: $transition;
                }
            }
            h4,
            p {
                margin: 5px;
            }
        }
    }
    padding-bottom: 20px;
}

// EditProfile
.editProfile {
    ul {
        padding: 0 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
            width: 100%;
            min-height: 60px;
            border-bottom: $border;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                &:nth-child(1) {
                    width: 30%;
                }
                &:nth-child(2) {
                    width: 70%;
                }
                img {
                    width: 150px;
                    height: 150px;
                }
                input {
                    width: 100%;
                }
            }
        }
    }
}

// EditProfile
.newPost {
    ul {
        padding: 0 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
            width: 100%;
            min-height: 60px;
            border-bottom: $border;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                &:nth-child(1) {
                    width: 30%;
                }
                &:nth-child(2) {
                    width: 70%;
                }
                img {
                    width: 150px;
                    height: 150px;
                }
                input {
                    width: 100%;
                }
            }
        }
    }
}

.editPost {
    .post {
        margin-top: 20px;
        width: clamp(350px, 500px, 90%);
        height: clamp(650px, 800px, 110%);
        background: $secondary;
        border: $border;
        display: flex;align-items: center;justify-content: center;
        flex-direction: column;
        &.onlyText{
            .top{
                border-bottom: $border;
            }
        }
        .top {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                .pp {
                    margin-right: 10px;
                }
                a {
                    color: $text !important;
                }
                i {
                    cursor: pointer;
                }
            }
        }
        .imgContainer {
            width: 100%;
            background: #000;
            padding-bottom: 100%;
            background-image: url("../imgs/bg_auth2.jpg");
            background-position: center;
            background-size: cover;
        }
        .bottom {
            .row {
                height: auto;
                min-height: 60px;
                border-bottom: $border;
                &.icons {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .icon {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        font-size: 20px;
                        margin-right: 10px;
                        i {
                            margin-right: 10px;
                            cursor: pointer;
                        }
                        &.liked {
                            i{
                                color: $liked;
                            }
                        }
                        &.commented{
                            i{
                                color: $commented;
                            }
                        }
                        &.saved{
                            i{
                                color: $saved;
                            }
                        }
                    }
                }
                .text {
                    margin: 5px;
                    .title {
                        font-size: 18px;
                        margin: 2px;
                    }
                    .content {
                        margin-bottom: 5px;
                    }
                    .sendDate {
                        color: lighten($color: $text, $amount: 30);
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    // Profile
    .profile {
        .info {
            padding: 5px;
            height: 200px;
            .left {
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            .right {
                section {
                    justify-content: flex-start;
                    &.center {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
